doctype html
html
    head
        title 后端接口
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        // 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！
        meta(name='description', content='')
        meta(name='author', content='')
        meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
        link(rel='stylesheet', href='http://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css')
        script(src='http://code.jquery.com/jquery-1.9.1.js')
        script(src='http://code.jquery.com/ui/1.10.4/jquery-ui.js')
        // Bootstrap core CSS
        link(href='http://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css', rel='stylesheet')
        link(href='css/base.css', rel='stylesheet')
        script.
            $(function () {
                $(".accordion").accordion({
                    collapsible: true
                });
            });
            $(function () {
                $(".accordion_close").accordion({
                    active: false,
                    collapsible: true
                });
            });
    body
        .container-fluid
            .row
                .col-sm-3.col-md-2.sidebar
                    ul#apiNav.nav.nav-sidebar
                        - each group in groups
                          li
                            a(href= group.id)= group.name
                .col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
                    #main.blog-post
                        h1#header.page-header.blog-title 握手网后端接口文档
                        #updateRecord.accordion_close
                            h3 更新履历：
                            table.table
                                tr
                                    th Date
                                    th Operator
                                    th(colspan='2') Content
                                - each changeLog in changeLogs
                                  tr
                                    td
                                        p.blog-post-meta= changeLog.date
                                    td= changeLog.operator
                                    td(colspan='2')
                                        a(href= changeLog.relatedAPI)
                                            p= changeLog.comment
                        //- hr
                        //- #lastUpdate
                        //-     h3 最近更新：
                        //-         b （点击content中的内容可以直接传送到更新的位置）
                        //-     table.table
                        //-         tr
                        //-             th Date
                        //-             th Operator
                        //-             th(colspan='2') Content
                        //-         tr
                        //-             td
                        //-                 p.blog-post-meta=#{changeLogs[0].date}
                        //-             td={#lastUpdate.operator}
                        //-             td
                        //-                 a(href=#{changeLogs[0].relatedAPI})
                        //-                     p=#{changeLogs[0].comment}
                        //- hr
                        //- h2#description.blog-post-title 说明
                        //- hr
                        //- #apis
                        //- each group,groupIndex in #{document.groups}
                        //-     h2.blog-post-title
                        //-         span#group.id = group.name
                        //- 		each api,apiIndex in  group
                        //-       h3#api.id = api.name
                        //- 			p.blog-post-meta = api.addDate 新增
                        //- 			p = api.url
                        //- 			p = 返回值 : api.responseData
                        //- 			div.accordion
                        //- 			  h3=参数示例：
                        //- 				pre
                        //- 				  code
                        //- 					  api.params
                        //- 			hr
